# REQUIRED: Wallet mnemonic (24 words)
WATCH_WALLET_MNEMONIC="label label label label label label label label label label label label label label label label label label label label label label label label"

# REQUIRED: Wallets for distributing the TONs after sale
WALLET_PEP_FEE_COLLECTOR="" # destination 80%
WALLET_CAPSTR_FEE_COLLECTOR="" # destination 10%
WALLET_TEAM="" # destination 10%

# OPTIONAL: TON network settings
TON_RPC_ENDPOINT="https://toncenter.com/api/v2/jsonRPC"
TON_API_KEY="API_KEY_HERE"

# OPTIONAL: Polling interval in milliseconds (default: 5000 = 5 seconds)
POLL_INTERVAL_MS=5000

# Development mode
NODE_ENV=development